<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script th:inline="javascript">
	 var dataSource = [[${productsData}]];
	</script>
<script th:src="@{/assets/js/main.js}"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
<style>
html, body {
	padding: 0;
	margin: 0;
}

#product-list {
	margin-bottom: 30px
}

#product-list>div {
	border-bottom: 1px solid #666;
	padding: 15px 0
}

#product-list>div:nth-last-child(1) {
	border-bottom: 0;
}
</style>
</head>
<body>
	<div class='container'>
		<div id="product-list">
			<div v-for="product in products">
				<div>name: {{ product.name }}</div>
				<div>detail: {{ product.detail }}</div>
				<div>price: {{ product.price }}</div>
				<div>
					<input type="button" v-on:click="removeProduct(product.id)" value="delete" />
					<input type="button" v-on:click="updateProduct(product.id, product.name, product.detail, product.kind, product.price)" value="update" />
				</div>
			</div>
		</div>
		
		<div id="add-product" class='container'>
	    	<form>
	    		<!-- <div>
	    			id:
	    			<input type="text" name="id" />
	    		</div> -->
	    		<div>
	    			name: 
	    			<input type="text" name="name" />
	    		</div>
	    		<div>
	    			detail:
	    			<input type="text" name="detail" />
	    		</div>
	    		<div>
	    			kind:
	    			<input type="text" name="kind" value="kind4" />
	    		</div>
	    		<div>
	    			price:
	    			<input type="text" name="price" />
	    		</div>
	    		<div>
	    			<input type="button" value="send" />
	    		</div>
	    	</form>
	    	<!-- <div>{{ status }}</div> -->
	    </div>
	</div>
</body>
</html>